<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enzo.module_d">

    <application
        android:name="debug.ModuleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/md_news_name"
        android:supportsRtl="true"
        android:theme="@style/Base_AppTheme">

        <activity
            android:name="debug.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MDBossCompanyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDLoadingLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDStructureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDCalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDMeiZuBannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDScanBarCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDScanQrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDMatisseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.lighter.MDLighterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.lighter.MDDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.lighter.MDFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.lighter.MDGridViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.lighter.MDListViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.lighter.MDRecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.lighter.MDRelativeLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.lighter.MDScrollViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.lighter.MDViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDOkHttpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDTouchEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDAVLoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDShadowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDTaskQueueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDScrollingImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDUGCBannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDRulerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDTimePickerActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>