<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifenglian.module_d">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".activity.MDSimpleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MDPhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MDProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MDLoadingLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MDRoundImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MDRulerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MDUpdateVersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MDJniActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>
