<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enzo.module_d">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.activity.MDLoadingLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDStructureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDPickerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDCalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDMeiZuBannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDScanBarCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDScanQrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDColorPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MDMatisseActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>
